@import './custom';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import './loading';
@import './scrollbar';

body {
	height: 100vh;
	width: 100vw;
	background: $dark;
	
	overflow-x: hidden;
}

header {
	height: 5vh;
}

main {
	margin-top: 5vh !important;
	height: 30vh;
	
	h2 {
		// margin: 0;
	}
}

section.date-zmanim {
	position: relative;
	height: 50vh;
	
	.zmanim {
		height: 50vh;
		width: fit-content;
		overflow-y: scroll;
	}
	
	.zman {
		transition: color 100ms ease-in-out;
	}
	
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// z-index: 1;
	pointer-events: none;
	
	
	background: linear-gradient(transparent 80%, $dark 100%);
}

section.week-zmanim {
	// z-index: 1;
	height: 10vh;
}


// .zman:hover span {
	// 	color: $yellow-400 !important;
// }
.space {
	height: 2rem;
}